<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.web.dao.MemberMapper">
<insert id="join" parameterType="Member">
insert into ac_member (
	member_id,
	member_pw,
	member_names,
	member_birth,
	member_phone
) values (
	#{memberId},
	#{memberPw},
	#{memberNames},
	#{memberBirth},
	#{memberPhone}
)
</insert>

<select id="login" parameterType="Member" resultType="String">
select
	member_id
from
	ac_member
where
	member_id = #{memberId} and
	member_pw = #{memberPw}
</select>
</mapper>